---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout title="Monstscape - 高质量 Labubu 壁纸站">
  <main>
    <h1 class="text-4xl font-bold text-center my-8">欢迎来到 Monstscape</h1>
    <p class="text-center text-xl text-gray-600">
      一个专门为 Labubu 爱好者打造的高质量壁纸下载站。
    </p>
    
    </main>
</Layout>