---
---
<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-xl font-bold">Monstscape</a>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-gray-300">首页</a></li>
        <li><a href="/wallpapers" class="hover:text-gray-300">壁纸</a></li>
        </ul>
    </nav>
  </div>
</header>