---
import { Image } from 'astro:assets';

const { wallpaper } = Astro.props;
// 'wallpaper.data' 来自 getCollection, 'wallpaper.thumb' 来自 API fetch
const imageSrc = wallpaper.data?.thumbImg || wallpaper.thumb.src;
const title = wallpaper.data?.title || wallpaper.title;
---

<a href={`/wallpapers/${wallpaper.slug}/`} class="block group overflow-hidden rounded-lg shadow-md hover:shadow-xl transition-shadow">
  <Image
    src={imageSrc}
    alt={title}
    width="600"
    class="w-full h-auto object-cover transition-transform duration-300 group-hover:scale-105"
  />
</a>